
  body {
      background-color: brown;
  }

  body {
    font-family: "Arial", Times, sans-serif;
    color: black;
    font-size: 20px;
    background-image: url("RoomE3.jpg");
    background-repeat: no-repeat;
    background-size: 1620px 798px
}

img {
    display: block;
    margin: bottom;
    width: 80%;
}

h1 {
    font-family: "Arial", Times, sans-serif;
    color: black;
}

  h2 {
    text-align: center;
    font-size: 700%;
}


.signup {
  font: 10px Arial;
  background-color: #000000;
  color: #565656;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 9px
}
