<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/form.css">
    <title>RoomE Profile</title>
  </head>

<h1>
 Profile:{{Profile}} </h1>

 <h4>

I am from: {{Profile_Info.origin}}<br>
I'm majoring in: {{Profile_Info.major}}<br>
I am a smoker: {{Profile_Info.smoke}} <br>
I stay up late: {{Profile_Info.late_riser}} <br>
I snore when sleeping: {{Profile_Info.snore}} <br>
My activity level is that I {{Profile_Info.activity_level}}<br>
I am:{{Profile_Info.sexuality}} <br>
I am a: {{Profile_Info.religion}} <br>
Religion in a roommate is: {{Profile_Info.religion_imp}} <br>
I am: {{Profile_Info.social_level}} <br>
My social level is: {{Profile_Info.social_level}} <br>
I like: {{Profile_Info.hobbies}} <br>


 </h4>

  <body>

  </body>
</html>
