<html>
  <head>

    <title>RoomE Signup</title>
  </head>
  
<br>
  <h2> Sign Up</h2>


  <form method="post" action="">
    <h4> Full Name: <input type="text" name= "name"></h4>
    <h4> Email <input type= "text" name= "email"> </h4>
    <h4> Password <input type="password" name="password"></h4>
    <h4>Confirm Password <input type="password" name="confirm password"></h4>
    <h4> Gender: </h4>




  <input type="radio" name="gender" value="Male">Male
<input type="radio" name="gender" value="Female">Female

<h4>  Birthday <br>
   <select name="birthday months">
  <option value="January">January</option>
  <option value="February">February</option>
  <option value="March">March</option>
  <option value="April">April</option>
  <option value="May">May</option>
  <option value="June">June</option>
  <option value="July">July</option>
  <option value="August">August</option>
  <option value="September">September</option>
  <option value="October">October</option>
  <option value="November">November</option>
  <option value="December">December</option>
  value=Month
</select>

<input type="text" name="Day" value="Day">
<input type="text" name="Year" value="Year">
<br></br>
<input type="submit" name="Submit" value="Sign Up">



</h4>


  </form>
  <body>

  </body>
</html>
