<html>
  <head>
    <title>RoomE Signup</title>
    <link rel="stylesheet" href="Static/sign.css">
  </head>

<br>
  <h2> Sign Up</h2>


  <form method="post" action="/pref">
    <h4> Full Name: <input type="text" name= "name"></h4>
    <h4>Username: <input type= "text" name= "Username"> </h4>
<h4>
     Gender:
  <input type="radio" name="gender" value="male">Male
  <input type="radio" name="gender" value="female"> Female </h4>


<h4>  Birthday <br>
   <select name="birthday months">
  <option value="January">January</option>
  <option value="February">February</option>
  <option value="March">March</option>
  <option value="April">April</option>
  <option value="May">May</option>
  <option value="June">June</option>
  <option value="July">July</option>
  <option value="August">August</option>
  <option value="September">September</option>
  <option value="October">October</option>
  <option value="November">November</option>
  <option value="December">December</option>
  value=Month
</select>

<input type="text" name="Day" value="Day">
<input type="text" name="Year" value="Year">
<br></br>
<input type="submit" name="Submit" value="Sign Up">




</h4>


  </form>
  <body>

  </body>
</html>
