<html>
  <head>

    <title>RoomE Signup</title>
  </head>

  <h1> Sign Up</h1>


  <form method="post" action="">
    <h4> Full Name: <input type="text" name= "name"></h4>
    <h4> Email <input type= "text" name= "email"> </h4>
    <h4> Password <input type="password" name="password"></h4>
    <h4>Confirm Password <input type="password" name="confirm password"></h4>
    <h4> Gender: </h4>




  <input type="radio" name="gender" value="Male">Male
<input type="radio" name="gender" value="Female">Female

<h4>  Birthday <br>
   <select name="birthday months">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
</select>
</h4>


  </form>
  <body>

  </body>
</html>
