<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What about you?</title>
  </head>
  <body>
    <form method="post" action="">
      <h4> Do you smoke? <input type="text" name= "name"></h4>
      <h4> Do you stay up late?<input type= "text" name= "email"> </h4>
      <h4> Do you snore?<input type="password" name="password"></h4>
      <h4>What describes your personality? *Choose all that apply <input type="password" name="confirm password"></h4>
      <h4> What describes your activity level? </h4>
      <h4> How important is likeness in a roommate? <input type="text" name= "name"></h4>
      <h4> What's your sexuality?<input type= "text" name= "email"> </h4>
      <h4> Do you snore?<input type="password" name="password"></h4>
      <h4>What is your religion? *Choose all that apply <input type="password" name="confirm password"></h4>
      <h4> How important is religious preferences to you in a roommate? </h4>

    </form>

  </body>
</html>
