<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/form.css">
    <title>Continued</title>
  </head>
  <body>
    <form method="post" action="">

      <h4> Where are you from?<input type="text" name="origin" value= "City, State"></h4>
      <h4> Are you planning to work? <input type="radio" name="working" value=Yes>Yes
        <input type="radio" value=no>No
      <h4> What's your major?<input type= "text" name= "major"> </h4>

      <h4>How organized are you?

                 <select name="organization">
                <option value="Neat Freak">Neat Freak </option>
                <option value="Moderately Organized">Moderately Organized</option>
                <option value="Could Use Help Getting Organized"> Could Use Help Getting Organized</option>
                <option value="Sometimes Hard To Manage">Sometimes Hard to Manage</option>
                <option value="Total Slob">Total Slob</option>
              </select>
      <h4> Describe your social level:</h4>

            <select name="social_level">
            <option value="Social Butterfly">Social Butterfly </option>
            <option value="I Have Lots Of Friends">I have lots of friends</option>
            <option value="I Have a Small Group of Friends"> I have a small group of friends</option>
            <option value="I Don't Have Too Many Friends"> I don't have many friends</option>
            <option value="Total Loner">Total Loner</option>
            </select>


      <h4> What are some hobbies that you enjoy?  <input type="text" name= "hobbies"></h4>

      <input type="submit" value="Submit">

  </body>
</html>
