<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="form.css">
    <title>Continued</title>
  </head>
  <body>
    <form method="post" action="">

      <h4> Where are you from?<input type="text" name="origin"></h4>
      <h4> Are you planning to work? <input type="radio" value=Yes>Yes
        <input type="radio" value=no>No
      <h4> What's your major?<input type= "text" name= "email"> </h4>

      <h4>How organized are you?

                 <select name="likeness?">
                <option value="NF">Neat Freak </option>
                <option value="MO">Moderately Organized</option>
                <option value="CUHGO"> Could Use Help Getting Organized</option>
                <option value="SHTM">Sometimes Hard to Manage</option>
                <option value="TS">Total Slob</option>
              </select>
      <h4> Describe your social level:</h4>

            <select name="social level?">
            <option value="SB">Social Butterfly </option>
            <option value="LOF">I have lots of friends</option>
            <option value="SG"> I have a small group of friends</option>
            <option value="SHTM"> I don't have many friends</option>
            <option value="TS">Total Loner</option>
            </select>


      <h4> What are some hobbies that you enjoy?  <input type="text" name= "name"></h4>


  </body>
</html>
