<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/sign.css">
    <meta charset="utf-8">
    <title>What about you?</title>
  </head>
  <body>
    <br><br>
    <h1>Let's Get To Know You!</h1>
    <form method="post" action="/pref2"><div>
      <input type="hidden" name="username" value="{{username}}"
      <h4> Do you smoke? <input type="radio" name="smoke" value="yes">Yes
    <input type="radio" name="smoke" value="no">No</h4>
      <h4> Do you stay up late?<input type= "radio" name= "late_riser" value="yes"> Yes
    <input type="radio" name="late_riser" value= "no" > No </h4>
      <h4> Do you snore? <input type="radio" name="snore" value="yes">Yes
      <input type="radio" name="snore" value="no"</h4> No
<div id="personal">
      <h4>What describes your personality? *Choose all that apply <br><br>


<table>
  <tr>
        <td><input type="checkbox" name="Extrovert"> Extrovert </td>
        <td><input type= "checkbox" name="Introvert"> Introvert</td>
        <td><input type= "checkbox" name= "Agreeable"> Agreeable</td>
        <td><input type= "checkbox" name= "Sarcastic"> Sarcastic</td>
        <td><input type= "checkbox" name= "Confident"> Confident</td>
  </tr>
  <tr>
        <td><input type= "checkbox" name="Colorful"> Colorful</td>
        <td><input type="checkbox" name="Curteous"> Curteous</td>
        <td><input type="checkbox" name= "Disciplined"> Disciplined</td>
        <td><input type= "checkbox" name="Honest"> Honest</td>
        <td><input type= "checkbox" name= "Humble"> Humble</td>
</tr>
  <tr>
        <td><input type= "checkbox" name= "Neat"> Neat</td>
        <td><input type= "checkbox" name= "Genuine"> Genuine</td>
        <td><input type="checkbox" name="Playful"> Playful</td>
        <td><input type= "checkbox" name= "Peaceful"> Peaceful</td>
        <td><input type= "checkbox" name="Precise"> Precise</td>
        <td><input type="checkbox" name="Rational"> Rational</td>
  </tr>
  <tr>
        <td><input type="checkbox" name= "Resourceful"> Resourceful</td>
        <td><input type= "checkbox" name="Prepared"> Prepared</td>
        <td><input type= "checkbox" name= "Logistical"> Logical</td>
        <td><input type= "checkbox" name= "Systematic"> Systematic</td>
        <td><input type= "checkbox" name= "Stoic"> Stoic</td>
        <td><input type="checkbox" name="Trusting"> Trusting</td>
</tr>
  <tr>
        <td><input type= "checkbox" name="Realistic"> Realistic</td>
        <td><input type="checkbox" name="Sophisticated"> Sophisticated</td>
        <td><input type="checkbox" name= "Practical"> Practical</td>
        <td><input type= "checkbox" name="Loyal"> Loyal</td>
        <td><input type= "checkbox" name= "Independent"> Independent</td>
        <td><input type= "checkbox" name= "Decisive"> Decisive</td>
</tr>
</table>
</div>

      <h4> What describes your activity level?

        <select name="activity_level">
        <option value="Athlete">Athlete</option>
        <option value="Work Out Occasionally">Work Out Occasionally</option>
        <option value="Would like to work out more">Would like to work out more</option>
        <option value="Don't really exercise">Don't really exercise</option>
        <option value="Never hit the gym a day in my life">Never hit the gym a day in my life</option>
      </select>



      <h4> What's your sexuality?<input type= "text" name= "sexuality"> </h4>

      <h4>What is your religion? <input type="text" name="religion"></h4>

    <h4> How important is religious preferences to you in a roommate? </h4>
      <select name="religion_imp">
      <option value="Not Important At All">Not important at all </option>
      <option value="Not That Important">Not that important</option>
      <option value="Somewhat Important">Somewhat important</option>
      <option value="Kind of Important">Kind of Important</option>
      <option value="Very Important">Very Important</option>
    </select>

    <br></br>
    <input type=submit value=Continue>
    </form>
  </div><br><br>
  </body>
</html>
