<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What about you?</title>
  </head>
  <body>

    <h1>
      Let's Get To Know You </h1>
    <form method="post" action="">
      <h4> Do you smoke? <input type="radio" name="smoke?" value="yes">Yes
    <input type="radio" name="smoke?" value="no">No</h4>
      <h4> Do you stay up late?<input type= "radio" name= "late riser?" value="yes"> Yes
      <input type="radio" name="late riser?" value= "no" > No </h4>
      <h4> Do you snore? <input type="radio" name="snore?" value="yes">Yes
      <input type="radio" name="snore?" value="no"</h4> No

      <h4>What describes your personality? *Choose all that apply <br>
        <input type="checkbox" name="traits"> Extrovert
        <input type= "checkbox" name=traits> Introvert
        <input type= "checkbox" name= "traits"> Agreeable
        <input type= "checkbox" name= "traits"> Sarcastic
        <input type= "checkbox" name= "traits"> Confident
        <br>
        <input type= "checkbox" name="traits"> Colorful
        <input type="checkbox" name="traits"> Curteous
        <input type="checkbox" name= "traits"> Disciplined
        <input type= "checkbox" name="traits"> Honest
        <input type= "checkbox" name= "traits"> Humble
        <br>
        <input type= "checkbox" name= "trait"> Neat
        <input type= "checkbox" name= "traits"> Genuine
        <input type="checkbox" name="traits"> Playful
        <input type= "checkbox" name= "traits"> Peaceful
        <input type= "checkbox" name="traits"> Precise
        <input type="checkbox" name="traits"> Rational
        <br>
        <input type="checkbox" name= "traits"> Resourceful
        <input type= "checkbox" name="traits"> Prepared
        <input type= "checkbox" name= "traits"> Logical
        <input type= "checkbox" name= "trait"> Systematic
        <input type= "checkbox" name= "traits"> Stoic
        <input type="checkbox" name="traits"> Trusting
        <br>
        <input type= "checkbox" name="traits"> Realistic
        <input type="checkbox" name="traits"> Sophisticated
        <input type="checkbox" name= "traits"> Practical
        <input type= "checkbox" name="traits"> Loyal
        <input type= "checkbox" name= "traits"> Independent
        <input type= "checkbox" name= "traits"> Decisive </h4>





      <h4> What describes your activity level?

         <select name="activity level">
        <option value="Athlete">Athlete</option>
        <option value="Occasionally">Work Out Occasionally</option>
        <option value="Trying">Would like to work out more</option>
        <option value="Meh">Don't really exercise</option>
        <option value="Nah">Never hit the gym a day in my life</option>
      </select>

        <h4> How important is likeness in a roommate?

         <select name="likeness?">
        <option value="NIAA">Not important at all </option>
        <option value="NTI">Not that important</option>
        <option value="SI">Somewhat important</option>
        <option value="KI">Kind of Important</option>
        <option value="VI">Very Important</option>
      </select>

      <h4> What's your sexuality?<input type= "text" name= "email"> </h4>

      <h4>What is your religion? <input type="text" name="religion?"></h4>

      <h4> How important is religious preferences to you in a roommate? </h4>

       <select name="likeness?">
      <option value="NIAA">Not important at all </option>
      <option value="NTI">Not that important</option>
      <option value="SI">Somewhat important</option>
      <option value="KI">Kind of Important</option>
      <option value="VI">Very Important</option>
    </select>
    <br></br>
    <input type=submit value=Submit>
    </form>

  </body>
</html>
